Introduction to Python

In [1]:
# Creating variables and assigning them values
num = 3

In [2]:
num

3

In [3]:
num=4
num

4

In [4]:
x=y=z= 4
y

4

In [5]:
z

4

In [6]:
#String variables
a = 'great learning'

In [7]:
a

'great learning'

In [8]:
x, y = 45,'Ken'
y

'Ken'

In [9]:
#Integer, Float and Complex
type(x)

int

In [10]:
a = 3.1
type(a)

float

floating point

In [11]:
x = 3+4j
x

(3+4j)

In [12]:
type(x)

complex

In [13]:
#Operations on strings
str1 = 'Great'
str2 = ' Learning'
str1+str2

'Great Learning'

In [14]:
str4 = 'ACTG'
str4*10

'ACTGACTGACTGACTGACTGACTGACTGACTGACTGACTG'

In [15]:
str4[0]

'A'

In [16]:
str4[-1]

'G'

In [17]:
str1[0:3]

'Gre'

In [18]:
string= 'Python'
string*2

'PythonPython'

In [19]:
string+string

'PythonPython'

In [20]:
var = True
type(var)

bool

In [21]:
10>9

True

In [22]:
True+ False

1

print statements

In [23]:
print("x  = ",x)

x  =  (3+4j)

In [24]:
#use of \n
x = 7
y = 9
print('x = ',x,end = '\n\n')
print('y = ',9,'\t')

x =  7

y =  9

In [25]:
age = int(input("Enter your age"))

Enter your age65

In [26]:
age

65

In [27]:
aged = float(input("Enter your age"))

Enter your age45

In [28]:
aged

45.0

Arithmetic Operations

In [29]:
a= 12
b= 2
a**b

144

In [30]:
print('a+b = ', a+b)

a+b =  14

In [31]:
(14%2)

0

Comparison Operators

In [32]:
a>b

True

In [33]:
a==b

False

In [34]:
print("a!=b is ", a!=b)

a!=b is  True

In [35]:
(4/2!= 2.0)== False

True

Logical Operators`

In [36]:
x = 11
a = x>10 or x<20
a

True

Lists

In [37]:
empty_list = []

In [38]:
empty_list

[]

In [39]:
nested_list = [['a','b','c'],[1,2,3]]

In [40]:
nested_list

[['a', 'b', 'c'], [1, 2, 3]]

In [41]:
course = ['math', 'english','science','cre','chemistry']

In [42]:
course[0]

'math'

In [43]:
course[-1]

'chemistry'

In [44]:
course[2:4]

['science', 'cre']

In [45]:
course[:4]

['math', 'english', 'science', 'cre']

In [46]:
course[:]

['math', 'english', 'science', 'cre', 'chemistry']

In [47]:
course[2:]

['science', 'cre', 'chemistry']

In [48]:
#changing an item
course[2] ='statistics'

In [49]:
course

['math', 'english', 'statistics', 'cre', 'chemistry']

In [50]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[2:7:2])

[3, 5, 7]

Methods - Built in methods that are inherited upon creation of a particular data type

- append()
- insert()
- pop()
- del
- remove()
- extend()
- reverse()

In [51]:
#append -  add a list into a list
course.append(a)

In [52]:
course

['math',
 'english',
 'statistics',
 'cre',
 'chemistry',
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

In [53]:
#Insert - Insert an item into a list
a.insert(7,10)

In [54]:
a

[1, 2, 3, 4, 5, 6, 7, 10, 8, 9, 10]

In [55]:
#Extend - Increase a list with contents of another list, insert but only at the end
a.extend(a)

In [56]:
a

[1, 2, 3, 4, 5, 6, 7, 10, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 10, 8, 9, 10]

In [57]:
#Delete an item
del a[0]

In [58]:
a

[2, 3, 4, 5, 6, 7, 10, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 10, 8, 9, 10]

In [59]:
#remove - a method approach to applying delete
a.remove(2) 
#this will remove the first occurence of the item 7

In [60]:
a

[3, 4, 5, 6, 7, 10, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 10, 8, 9, 10]

In [61]:
#pop - will identify the last element
#if you give pop an argument it will return the item at the position of the argument
course.pop()

[3, 4, 5, 6, 7, 10, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 10, 8, 9, 10]

In [62]:
course.pop(1)

'english'

In [63]:
#reverse - Reverses a list
course

['math', 'statistics', 'cre', 'chemistry']

In [64]:
course.reverse()

In [65]:
course

['chemistry', 'cre', 'statistics', 'math']

You can also add lists through concatenation and repetition

In [66]:
course+a

['chemistry',
 'cre',
 'statistics',
 'math',
 3,
 4,
 5,
 6,
 7,
 10,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 10,
 8,
 9,
 10]

In [67]:
course*2

['chemistry',
 'cre',
 'statistics',
 'math',
 'chemistry',
 'cre',
 'statistics',
 'math']

### Tuples

- Have orders and allow for calculations to be done, unlike lists
- Created with the normal brackets
- Can contain int, strings, lists etc

In [68]:
my_tuple = (1,2,'a','b',['x','y','z'])
my_tuple

(1, 2, 'a', 'b', ['x', 'y', 'z'])

In [69]:
#accessing an item in a tuple
my_tuple[0]

1

In [70]:
print(my_tuple[4])

['x', 'y', 'z']

Tuples are immutable. This means you cannot delete items in the tuple or edit them. But you can alter items inside the tuple such as list items

In [71]:
my_tuple[4][1]= 5

In [72]:
my_tuple

(1, 2, 'a', 'b', ['x', 5, 'z'])

In [73]:
del my_tuple[4][1]

In [74]:
my_tuple

(1, 2, 'a', 'b', ['x', 'z'])

### Tuples Methods

- count
- index
-sorted

In [75]:
new_tuple = ('a','b','a')
new_tuple.count('a')

2

In [76]:
new_tuple.index('b')

1

In [77]:
sorted(new_tuple)
#sorted function cannot sort a mix of numbers and letter. Just one type, either numbers only or letters only

['a', 'a', 'b']

In [78]:
new_tuple

('a', 'b', 'a')

## Dictionaries

- Created using curly brackets
- Key value pairs
- Separate a key and value using a colon and separate entries using a comma

In [79]:
balance = {'ken': 13000, 'Clare': 14000, 'yvonne':12000}
balance

{'ken': 13000, 'Clare': 14000, 'yvonne': 12000}

Accessing items in a dictionary

In [80]:
balance['Clare']

14000

In [81]:
balance.get('ken')

13000

In [82]:
balance['ken'] = 18000

In [83]:
balance

{'ken': 18000, 'Clare': 14000, 'yvonne': 12000}

In [84]:
print(len(balance))

3

Dictionary Methods
- pop()
- popitem()
- del
- clear

In [85]:
#pop - removes a specified item
balance.pop('ken')

18000

In [86]:
balance

{'Clare': 14000, 'yvonne': 12000}

In [87]:
#popitem removes the last item
balance.popitem()

('yvonne', 12000)

In [88]:
balance

{'Clare': 14000}

In [89]:
del balance['Clare']

In [90]:
balance

{}

In [91]:
clear(balance) # empties a dictionary

In [92]:
balance

{}

In [93]:
year_sales = {
    2015: 20000,
    2016:160000,
    2017:179000
}
year_sales

{2015: 20000, 2016: 160000, 2017: 179000}

In [94]:
copy_year_sales = year_sales.copy()

In [95]:
copy_year_sales

{2015: 20000, 2016: 160000, 2017: 179000}

In [96]:
year_sales.update({2016:75000})

In [97]:
year_sales

{2015: 20000, 2016: 75000, 2017: 179000}

In [98]:
sorted(year_sales)

[2015, 2016, 2017]

## Sets

- A list of only distinct elements in a content and ignores the replications
- Uses curly brackets like dictionary

In [99]:
s = {1,2,3,4,4,3,5,5}
s

{1, 2, 3, 4, 5}

In [100]:
p ={1,4,5,3,3,5,4}
p

{1, 3, 4, 5}

## Conditional Statements and Loops

In [101]:
my_string = 'python'
my_list = ['java','c','pascal','r','vb']

if my_string in my_list:

    print(my_string + ' is in my list')
else:
    print(my_string + ' is not in my list')

python is not in my list

In [102]:
username = str(input('Enter your name: '))
password = str(input('\nEnter your password: '))

if (username == 'ken' and password == 'k'):
    print('\nLogged in Successfully')
else:
    print('\nWrong username or password')

Enter your name: ken

Enter your password: k

Logged in Successfully

In [103]:
num = float(input('Enter a number: '))
if (num == 0):
    print('Number is 0')
elif (num > 50):
    print("Number is greater than 50")
else:
    print('Number is less than 50')

Enter a number: 76
Number is greater than 50

## Loops

In [104]:
sums = 0
num_list = [23,4,56,76,33,52,76,78,98]

for num in num_list:
    sums += num
print('The sum of numbers in the list is', sums)

The sum of numbers in the list is 496

In [105]:
#calculate the sum of integers from 0 to 9

n = 0
total = 0
while n<10:
    total +=n
    n+=1
print('The sum of integers between 0 and 9 is', total)

The sum of integers between 0 and 9 is 45

### Break and Continue Statements

In [106]:
for i in range(5):
    a = int(input())
    if a<0:
        print('Met negative number', a)
        break
else:
    print('Not met any negative number')

56
-0
-9
Met negative number -9

In [107]:
for i in range(1,11):
    if i== 6:
        continue
    else:
        print(i, end = ' ')

1 2 3 4 5 7 8 9 10