<a href="https://colab.research.google.com/github/KOdunga/AIMLCourse/blob/main/pythonfoundations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# An introduction to Python for Data Analysis

In [12]:
2+2

4

In [13]:
print(2.2)
print(4+4)

2.2
8

In [14]:
print('Hello',2,'World', sep=':') # Using sep to separate at the comma positions

Hello:2:World

In [15]:
#Input and output variables

price = 900
brand = 'Apple'
ram = 4
storage = 128

print('The price of the phone is $',price,sep ='')
print('\nThe brand of the phone is',brand)
print('\nThe RAM of the phone is ',ram,'GB')
print('\nThe storage of the mobile is',storage,'GB')

The price of the phone is $900

The brand of the phone is Apple

The RAM of the phone is  4 GB

The storage of the mobile is 128 GB

In [16]:
#Boolean Variable
is_billed = True
print(is_billed)

True

In [17]:
type(is_billed)

bool

In [18]:
type(brand)

str

In [19]:
type(90)

int

In [20]:
discount = 80
new_price = price-discount
print('The new price is $',new_price)

The new price is $ 820

In [21]:
print(price/2)
print(price//2) # Double divide by forces the result of a division to be an integer.
print(5//2) # Returns the floor value. Important for items that are whole numbers
print(5/2)

450.0
450
2
2.5

In [22]:
a = 30
print('a is of type',type(a))

a is of type <class 'int'>

In [23]:
print('Forcing a chnage in type is called an explicit conversion '+ str(a))

Forcing a chnage in type is called an explicit conversion 30

In [24]:
type(a) # type of a has not changed in the background

int

## Lists

In [25]:
brand_list = ['Apple', 'Samsung','LG','Apple']
brand_list

['Apple', 'Samsung', 'LG', 'Apple']

In [26]:
type(brand_list)

list

In [27]:
type(brand_list[0])

str

In [28]:
ram_list = [4,12,8,8]
storage_list = [128,128,64,128]
price_list = [900,899,600,1000]

In [29]:
print(ram_list)

[4, 12, 8, 8]

In [30]:
len(brand_list)

4

In [31]:
minprice= min(price_list)
minprice

600

In [32]:
print('The maximum price in the list is $' + str(max(price_list)))

The maximum price in the list is $1000

In [33]:
price_list[0:3]

[900, 899, 600]

In [34]:
brand_list[-1]

'Apple'

In [35]:
brand_list.pop()

'Apple'

In [36]:
brand_list

['Apple', 'Samsung', 'LG']

In [37]:
brand_list.pop(1)

'Samsung'

In [38]:
brand_list

['Apple', 'LG']

In [39]:
brand_list.append('Motorola')

In [40]:
brand_list

['Apple', 'LG', 'Motorola']

In [41]:
x = [10,'Range','Great',-54,11,12]
print(x[1])

Range

In [42]:
print(len(x[2:4]))

2

In [43]:
print(x[2:-1])

['Great', -54, 11]

In [44]:
print(x[-2:-1])

[11]

In [45]:
brand_list[0] = 'Huawei'

In [46]:
brand_list

['Huawei', 'LG', 'Motorola']

## Tuples

In [47]:
store = (32,64,128,256)
print(store)

(32, 64, 128, 256)

In [48]:
type(store)

tuple

## Dictionaries

In [49]:
# Index based on keys instead of numbers
# Key:Value pairs
attributes = {
    'Brand':'Apple',
    'RAM':4,
    'Storage':128,
    'Price':800
}

In [50]:
attributes

{'Brand': 'Apple', 'RAM': 4, 'Storage': 128, 'Price': 800}

In [51]:
type(attributes)

dict

In [52]:
print(attributes)

{'Brand': 'Apple', 'RAM': 4, 'Storage': 128, 'Price': 800}

In [53]:
print(attributes['Price'])

800

In [54]:
attributes['Price'] = 900

In [55]:
attributes

{'Brand': 'Apple', 'RAM': 4, 'Storage': 128, 'Price': 900}

In [56]:
#creating a dictionary to store data using lists
products = {
    'Brand':brand_list,
    'RAM':ram_list,
    'Storage':storage_list,
    'Price':price_list
}
print(products)

{'Brand': ['Huawei', 'LG', 'Motorola'], 'RAM': [4, 12, 8, 8], 'Storage': [128, 128, 64, 128], 'Price': [900, 899, 600, 1000]}

In [60]:
#Keys of a dictionary, use the keys method
keys = products.keys()
#Values of a dictionary
values = products.values()
print(keys)
print(values)

dict_keys(['Brand', 'RAM', 'Storage', 'Price'])
dict_values([['Huawei', 'LG', 'Motorola'], [4, 12, 8, 8], [128, 128, 64, 128], [900, 899, 600, 1000]])

In [68]:
#accss a single entry in a dictionary
products['RAM'][1]

12

In [69]:
attributes.update({'Price':700})

In [70]:
attributes

{'Brand': 'Apple', 'RAM': 4, 'Storage': 128, 'Price': 700}

In [72]:
attributes.pop('Storage')

128

In [73]:
print(attributes)

{'Brand': 'Apple', 'RAM': 4, 'Price': 700}

## Conditional Statements

In [80]:
price_list

[900, 899, 600, 1000]

In [78]:
#If else statements
budget = int(input('What is your budget in $ '))
if (budget<price):
  print('Sorry, You cannot afford the phone')
else:
  print('Congrats you can buy the phone!')

What is your budget in $ 8999
Congrats you can buy the phone!

In [83]:
#Elif statement
# Print the price of a phone based on the sizeof the memory
mem_size = int(input('Enter the memory size, 32GB, 64GB or 128 GB : '))

if mem_size == 32:
  print('The price of the phone is $',price_list[0])
elif mem_size == 64:
  print('The price of the phone is $',price_list[1])
elif mem_size == 128:
  print('The price of the phone is $',price_list[2])
else:
  print('No such memory size')

Enter the memory size, 32GB, 64GB or 128 GB : 128
The price of the phone is $ 600

## Looping Statements

In [86]:
#Introducing Range, commonly used for looping
range(6)

range(0, 6)

In [88]:
print(range(6)) #start and 0 and end before 6

range(0, 6)

In [90]:
#Casting the range as a list
print(list(range(6)))

[0, 1, 2, 3, 4, 5]

In [92]:
#Show start and stop values
print(list(range(2,8)))

[2, 3, 4, 5, 6, 7]

In [94]:
#Include the steps
print(list(range(2,8,2)))

[2, 4, 6]

In [103]:
#Implementing the for loop to show different cost of phones after different discounts of 5%, 10%, 15% and 20%

price = 900
for i in range(5,21,5):
  discount = price * (i / 100)
  discounted_price = price - discount
  print('\nThe new price after ',i,'% discount is $',int(discounted_price), sep = '')

The new price after 5% discount is $855

The new price after 10% discount is $810

The new price after 15% discount is $765

The new price after 20% discount is $720

In [107]:
#Implementing the above using a while loop to show different cost of phones after different discounts of 5%, 10%, 15% and 20%

price, i = 900,5
while i <= 20:
  discount = price * (i / 100)
  discounted_price = price - discount
  print('\nThe new price after ',i,'% discount is $',int(discounted_price), sep = '')
  i+=5

The new price after 5% discount is $855

The new price after 10% discount is $810

The new price after 15% discount is $765

The new price after 20% discount is $720

In [108]:
i

25

In [109]:
x = [1,2,3,4,5]
while x:
  print(x.pop(0))

1
2
3
4
5

## List Comprehensions

In [112]:
# To apply a 5% discount on all the prices in the price list
print('The current prices are',price_list)

discounted_price_list = []
for price in price_list:
  discounted_price = price - (price * 5/100)
  discounted_price_list.append(int(discounted_price))

print('The new price list will be', discounted_price_list)

The current prices are [900, 899, 600, 1000]
The new price list will be [855, 854, 570, 950]

In [114]:
# Using list comprehension, we can shorten the above code and make it faster to execute

discounted_price_pythonic = [int(price - (price * 5/100)) for price in price_list]
discounted_price_pythonic

[855, 854, 570, 950]

In [121]:
#USe a lsit comprehension to check the phones that a customer can afford after discounts are applied
customer_budget = int(input('Enter customer budget in $:\n '))

affordable = ['Yes' if price<=customer_budget else 'No' for price in discounted_price_pythonic]

print(affordable)

Enter customer budget in $:
 890
['Yes', 'Yes', 'Yes', 'No']

## Functions

In [134]:
#Refer to user defined functions. Functions can also be internal to the system
def display_phone_properties(): #Function definition
  #When you hover the cursor, the lines below inside three quotaion marks will show up as function description
  '''
  display phone properties
  '''
  print('The phone has 2GB of RAM and 128GB of storage space')

In [127]:
display_phone_properties() #Calling a function

The phone has 2GB of RAM and 128GB of storage space

In [131]:
def display_phone_properties(ram, storage): #Function definition with captures user input
  #When you hover the cursor, the lines below inside three quotaion marks will show up as function description
  '''
  display phone properties
  '''
  print('The phone has',ram,' of RAM and ',storage,'GB of storage space')

In [133]:
display_phone_properties(4,64) #call a function and parse attributes

The phone has 4  of RAM and  64 GB of storage space

In [142]:
#Write a function that takes the discount percentage as input and returns the discounted price of a phone

def discount_percent(disc_percent):
  price = 900
  discounted_price = price - price * (disc_percent /100)
  return discounted_price

In [143]:
print(discount_percent(15))

765.0

## Lambda Functions

In [147]:
#Pythonic and one line ways of defining robust functions
#Use lambda instead of def to define the function. Syntax also changes
#Has no return statement

discounted_lambda = lambda discount: 900 - (900 *(discount/100))

In [148]:
discounted_lambda(8)

828.0

In [150]:
mul = lambda a,b: a*b
mul(5,6)

30

In [155]:
(lambda x: (x+2)*5/2)(4)

15.0

In [10]:
n=8
for i in  range(1,11):
  print('{}^{}'.format(n,i),n**i)

8^1 8
8^2 64
8^3 512
8^4 4096
8^5 32768
8^6 262144
8^7 2097152
8^8 16777216
8^9 134217728
8^10 1073741824

In [12]:
a = 'ken'
for i in range(0,5):
  print(a)

ken
ken
ken
ken
ken

# Args and Kwargs command

In [16]:
# allows a function to be flexible in terms of the number of inputs that it can take as arguments
# use *args or any word provided you start with *.
#but use of args is common practise

def total(*args):
  total = 0
  for arg in args:
    total+=arg
  print(total)

In [18]:
total(900,90,98,878,87,65,56,78)

2252

In [19]:
total(900,90,98,878,87,65,56,78,76,334,544,788)

3994

In [20]:
def total_marks(*marks): #Using a different name other than args
  total_marks = 0
  for mark in marks:
    total_marks+=mark
  print(total_marks)

In [21]:
total_marks(90,45,87,90,38,99)

449

In [22]:
def function(var1=1, var2=4): # values 1 and 4 are like default values
  var2= 6 # assigned values take top priority
  var1=5
  print(var1,var2) #local variables take precedence over global variables

function(10,20)

5 6

In [24]:
def total_amount(*prices, discount = 0.0):
  total = 0
  for price in prices:
    total+=price

  total_discount = total - discount*total
  print(total_discount)

In [25]:
total_amount(900,90,98,878,87,65,56,78,76,334,544,788)

3994.0

In [29]:
total_amount(900,90,98,878,87,65,56,78,76,334,544,788, discount = 0.05)

3794.3

In [32]:
#Key word arguments flexibility is defined using **kwargs.
#Key words arguments are supplied through a dictionary.
def total_amount_spent(*prices, discount = 0.0,**kwargs):
  total = 0
  for price in prices:
    total+=price

  total_discount = total - discount*total

  net_spend = total_discount - kwargs['cashback']
  #print(total_discount)
  return net_spend

In [33]:
additionals = {'cashback':5}
print('Customer net spend is:', total_amount_spent(700,800,800,900,discount = 0.05,**additionals))

Customer net spend is: 3035.0

In [35]:
def order_summary(*prices,**kwargs):
  total = 0
  for price in prices:
    total+=price

  net_spend = total - additionals['discount'] *total - additionals['cashback']

  if total >= 10000:
    reward_points = 300
  elif total >= 5000:
    reward_points = 200
  elif total >= 2000:
    reward_points = 100
  else:
    reward_points = 0

  return total,net_spend,reward_points

In [39]:
additionals = {'discount':0.05,'cashback':5}
ta,ns,rp = order_summary(700,599,750,**additionals)
print('Customer order summary:\n','\nTotal Amount:',ta,'\nTotal Discounted Amount:',ns,'\nReward Points Earned:',rp)

Customer order summary:

Total Amount: 2049
Total Discounted Amount: 1941.55
Reward Points Earned: 100